<#assign websitesi_adi = "Yücel Özalp">
<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>${websitesi_adi}</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
   <link href="https://getbootstrap.com/docs/3.3/examples/justified-nav/justified-nav.css" rel="stylesheet">

  </head>

  <body>
<#include "/yucelozalp/menu.html">

<form action="/yucelozalp/kitaplar/ekle/post" method="post">
	
	Kitap Adi:<br>
	<input class="form-control" type="text" name="book_name">
	</br>

	Yazar Adi:<br>
	<input class="form-control" type="text" name="yazaradi">

	</br>
	Yazar Soyadi:<br>
	<input class="form-control" type="text" name="yazarsoyadi">
	</br></br>

	Yayin Evi:<br>
	<input class="form-control" type="text" name="publisher">
	</br></br>

	Kategori:<br>
	<input class="form-control" type="text" name="category">
	</br></br>

	Fiyati:<br>
	<input class="form-control" type="text" name="price">
	</br></br>

	<input class="btn btn-primary" type="submit" value="Ekle">
</form>

<#assign websitesi_adi = "Yücel Özalp">
<#include "/yucelozalp/footer.html">
</body>
</html>