<#assign websitesi_adi = "Yücel Özalp">
<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>${websitesi_adi}</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
   <link href="https://getbootstrap.com/docs/3.3/examples/justified-nav/justified-nav.css" rel="stylesheet">
<script
  src="https://code.jquery.com/jquery-2.2.4.js"
  integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
  crossorigin="anonymous"></script>
  </head>

  <body>
<#include "/yucelozalp/menu.html">

<div class="container">
  <h2>Kitaplar</h2>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Kitap Adi</th>
        <th>Fiyat</th>
        <th>Adet</th>
      </tr>
    </thead>
    <tbody>
    <#list kitaplar as k>
      <tr>
        <td><span id="id-${k_index}">${k_index}</span></td>
        <td><span id="book_name-${k_index}">${k.getBookName()}</span></td>
        <td><span id="book_price-${k_index}">${k.getPrice()}</span></td>
        <td><input type="text" id="quantity-${k_index}" name="quantity" value="1"></td>
        <td><input class="btn btn-primary" id="btn_submit" onclick="addCart(${k_index})" type="submit" value="Sepete Ekle"></td>
      </tr>
      </#list>
    </tbody>
  </table>
</div>


<script>

	
	function addCart(id){
		    var book_name = $("#book_name"+"-"+id).text();
	        var book_price = $("#book_price"+"-"+id).text();
	        var quantity = $("#quantity"+"-"+id).val();
			var id = $("#id"+"-"+id).text();
	        
	        var data = {
	            book_name: book_name,
	            book_price: book_price,
	            quantity: quantity,
	            id: id
	      };
	        
	        
	        $.ajax({
	        url: "/yucelozalp/basket/post",
	        type: "post",
	        data: data,
	        success: function (response) {
	           alert("Ürününüz basariyla sepete eklendi!!");
			   window.location.href='/yucelozalp/basket/html';
	        },
	        error: function (jqXHR, textStatus, errorThrown) {
	            console.log(textStatus, errorThrown);
	        }
	    });
	}

</script>


		
		<#include "/yucelozalp/footer.html">
	</body>
</html>