<html>
<head>
<style type="text/css">
table, td {
	border: 1px solid;
	bordercolor:#003399 ;
}
</style>
</head>
<body>
		<font color="#003399" size="28"><b><center> Kitap Satis</center> </b> </font>
		<br>
		<br>
		<br>
	<table style="width: 100%">
		<tr>
			<th>Kitap Urunleri</th>
			<th>Kitap Urun Detay</th>
			<th>Kitap urun Fiyatı</th>
			<th>Sepete Ekle</th>
		</tr>
		<tr>
			<td>${mevcutUrun.getUrunAdi()}</td>
			<td>${mevcutUrun.getUrunDetayi()}</td>
			<td>${mevcutUrun.getFiyat()}</td>
		</tr>
	</table>
</body>
</html>