<html>
<head>
<title>..... Maðazasý</title>
<style type="text/css">
p {
	text-align: center;
	background-color: #000066;
	color: #ffffff;
	vertical-align: middle;
}

font {
	background-color: #000066;
	color: #ffffff;
	font-size: 40px;
	font-weight: bold;
}

table {
	margin-left: 170px;
}

td {
	width: 350px;
	height: 50px;
}

input {
	width: 500px;
	height: 400px;
	background-color: #000066;
	color: #ffffff;
	font-size: 20px;
}
</style>
</head>
<p>
	<br>
	<font>..... MAÐAZASI</font><br>
</p>
<form action="/gamzekeskin/magaza" method="post"></form>
<br>
<br>
<br>
<table>
	<tr>
		<td>
			<form action="/gamzekeskin/urunler" method="get">
				<input type="submit" value="YÖNETÝM">
			</form>
		</td>
		<td>
			<form action="/gamzekeskin/musteri" method="get">
				<input type="submit" value="ALIÞVERÝÞ">
			</form>
		</td>
	</tr>
</table>
<br />
</html>
