@charset "utf-8";
/* CSS Document */

body {
	background-image: url(../resimler/zemin.jpg);
	background-repeat: repeat;
}
#üst {
	height: 50px;
	width: 964px;
	margin-right: auto;
	margin-left: auto;
}
#menu {
	height: 50px;
	width: 964px;
	margin-right: auto;
	margin-left: auto;
	text-align: right;
}
#tuş {
	height: 25px;
	width: 100px;
	float: left;
	margin-left: 10px;
	text-align: center;
	padding-top: 5px;
}
#tuş a {
	color: #F60;
	text-decoration: none;
}
#tuş a:hover {
	color: #333;
}
#tablo {
	height: 1000px;
	width: 967px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../resimler/govdeana.png);
	background-repeat: repeat;
	border-radius: 20px 20px 35px 35px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #CCC;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
	border-left-color: #CCC;
	padding-top: 15px;
}
#iç1 {
height: 250px;
	width: 300px;
	margin-top: 20px;
	margin-left: 15px;
	padding: 0px;
	float: left;

}
#iskelet {
	height: auto;
	width: 967px;
	margin-right: auto;
	margin-left: auto;
}
#son {
	float: left;
	height: 400px;
	width: 960px;
	margin-top: 5px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #999;
	border-right-color: #999;
	border-bottom-color: #999;
	border-left-color: #999;
	padding: 0px;
}
#resimark {
	height: 110px;
	width: 280px;
	border: 2px solid #CCC;
	margin-right: auto;
	margin-left: auto;
	margin-top: 5px;
	background-color: #DDD;
	padding: 5px;
}



.iç1baş {
	font-size: xx-large;
	color: #000;
}
#kbas {
	margin: 0px;
	padding: 0px;
	font-size: xx-large;
	color: #000;
}




#tabloust {
	height: 300px;
	width: 940px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../img/banner2.png);
	background-repeat: no-repeat;
}
#f1 {
	color: #F90;
	height: 30px;
	width: auto;
	margin-top: 20px;
	margin-left: 20px;
}
#f1a {
	height: auto;
	width: auto;
	margin-top: 5px;
	margin-left: 20px;
	color: #FFF;
	margin-right: 10px;
}
#butin {
	height: 40px;
	width: auto;
	padding-top: 20px;
}
#czg {
	background-image: url(../resimler/uzuncizgi.png);
	background-repeat: repeat-x;
	height: 10px;
	width: 795px;
	margin-right: auto;
	margin-left: 70px;
	float: left;
}




#resim {
	height: 48px;
	width: 48px;
	float: left;
}
#yazı {
	height: auto;
	width: 300px;
}
#ustsağı {
	background-image: url(../img/banner1.png);
	float: right;
	height: 300px;
	width: 315px;
}
form #button {
	background-image: url(../resimler/buton.png);
	height: 24px;
	width: 100px;
 position: relative;
       left:30px;
       top: 30px;
}
form #button:hover {
	color: #F60;
}

#kbb1 {
	font-size: x-large;
	color: #FFF;
	text-decoration: none;
	height: auto;
	width: 250px;
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
}
#kbb2 {
	height: auto;
	width: 250px;
	margin-top: 5px;
	margin-right: auto;
	margin-left: auto;
	color: #333;
}
#tss {
	height: 53px;
	width: 242px;
	margin-top: 5px;
	margin-right: auto;
	margin-left: auto;
}
form #button2 {
	font-size: x-large;
	color: #333;
	background-image: url(../resimler/buyukbuton.png);
	height: 53px;
	width: 242px;
}
form #button2:hover {
	color: #F60;
}


#kublar {
	height: 158px;
	width: 238px;
	margin-top: 71px;
	margin-left: 41px;
	float: left;
	background-color: #474747;
	border-radius: 10px;
}

#tuş:hover {
	background-image: url(../resimler/turuncubuton.png);
	color: #333;
}


#tuslar {
	height: 40px;
	width: 590px;
	float: right;
	background-color: #515151;
	padding-top: 10px;
	padding-left: 30px;
	border-radius: 10px 10px 0px 0px;
	margin-right: 15px;
}


.hk {
	font-size: x-large;
	color: #F60;
	font-weight: bold;
}
form #button3 {
	background-image: url(../resimler/buton.png);
	height: 30px;
	width:100px;
       position: relative;
       left: 0px;
       top: 10px;
}
form #button3:hover {
	color: #F60;
}
form #button4{
background-image: url(../resimler/buton.png);
	height: 30px;
	width:100px;
       position: relative;
       left: 0px;
       top: 170;
}
form #button5{
background-image: url(../resimler/buton.png);
	height: 30px;
	width:100px;
       position: relative;
       left: 0px;
       top: 10px;
}
 #button1{
background-image: url(../resimler/buton.png);
	height: 30px;
	width:100px;
       position: relative;
       left: 20px;
       top: 50px;
}
form #button7 {
	background-image: url(../resimler/buton.png);
	height: 24px;
	width: 100px;
 position: relative;
       left:0px;
       top: 90px;
}
form #button8 {
	background-image: url(../resimler/buton.png);
	height: 24px;
	width: 100px;
 position: relative;
       left:0px;
       top: 10px;
}
#button9{
background-image: url(../resimler/buton.png);
	height: 24px;
	width: 100px;
 position: relative;
       left:340px;
       top: 20px;
}
form #button11{
background-image: url(../resimler/buton.png);
	height: 24px;
	width: 100px;
 position: relative;
       left:340px;
       top: 20px;
}
#button10{
background-image: url(../resimler/buton.png);
	height: 24px;
	width: 100px;
 position: relative;
       left:340px;
       top: 20px;
}
#button12{
background-image: url(../resimler/buton.png);
	height: 24px;
	width: 100px;
 position: relative;
       left:340px;
       top: 20px;
}
form #button13{
background-image: url(../resimler/buton.png);
	height: 24px;
	width: 100px;
 position: relative;
       left:340px;
       top: 20px;
}
form #button14{
background-image: url(../resimler/buton.png);
	height: 24px;
	width: 100px;
 position: relative;
       left:340px;
       top: 20px;
}