<!DOCTYPE HTML>
<html>
<head>
<link href="/addingProducts.css"  rel="stylesheet" type="text/css"/>

</head>

<body background="/pixel_earth.jpg">
<form name="contact_form" action="/doganKoc/Management/AddingProducts" method="post" >
  <div  name="divId" >
    <label  for="id"> Enter Product Id:</label><br />
    <input  class="input" name="id" type="text"  size="30"/><br />
  </div>
  <div  name="divName" >
    <label  for="name"> Enter Product Name:</label><br />
    <input  class="input" name="name" type="text"  size="30"/><br />
  </div>
  <div name="divSeriNo"  >
    <label for="serialNo" >Enter Product Serial No:</label><br />
    <input class="input" name="serialNo" type="text" size="30" /><br />

  </div>
  <div name="divPrice">
    <label  for="price"> Enter Product Price:</label><br/>
    <input  class="input" name="price" type="text" size="30"/><br />

  </div>
  <div name="divStok">
    <label  for="stok"> Enter Product Stok count:</label><br/>
    <input  class="input" name="stok" type="text" size="30"/><br />
  </div>
  <div name="divInformation" >
    <label for="information" required>
        Enter Product information:
    </label> <br/>
    <textarea type="input" id="txa"  name="information" rows="5" cols="30" style="font-size: 20px; font-weight: 15px; background-color:yellow;">
       
    </textarea><br />

  </div>
    
    <input  type="submit" value="Add" style="background-color:green; width:245px;" color:black/>
</form>

</body>


</html>