		body{
    		background: url(1.jpg);
    		background-repeat: no-repeat;
    		background-attachment: fixed;
 			background-position: center center;  
    		background-size: cover;
            text-align: center
		}


	    	table{
				border:2px solid yellow;
				padding: 20px;
			
			}

			th{
				border:3px solid green;
				border-collapse: collapse;
				
				opacity: 0.97;
   				background: transparent;
			}

			td{
				border:2px solid white;
				border-collapse: collapse;
				padding: 10px;
			    opacity: 0.97;
   				background: transparent;
   				color:red;
			}
			@keyframes effect {
    			from {background-color: yellow;}
    			to {background-color: red;}
			}
			.shoppingCartLabel {
    			width: 200px;
    			height: 50px;
    			float: right;
    			text-align:center;
    			background-color: yellow;
    			animation-name: effect;
   				animation-duration: 6s;
   				position: relative;
   				animation-delay: 2s;
   				animation-iteration-count: infinite;
   				animation-direction: reverse;
   				animation-timing-function: linear;
   				border: 3px solid #73AD10;
			}