<html>
	<head> <title>Kitap Ekle</title> </head>
	<body>
		
		<#include "/anilbal/menu.html">
		
		<form action="/anilbal/kitaplar/ekle/post" method="post">
			Kitap Adi:<br> 
			<input type="text" name="kitapadi"> 
			</br> 
			
			Yazar Adi:<br> 
			<input type="text" name="yazaradi"> 
			
			</br> 
			Yazar Soyadi:<br> 
			<input type="text" name="yazarsoyadi">
			</br></br>
			
			<input type="submit" value="Ekle">
		</form>
		
		<#assign websitesi_adi = "Anil Bal">
		<#include "/anilbal/footer.html">
	
	</body>
</html>