<html>
<head>
</head>

<body>
<div >
    <div >
        <table>
            <h1>Ders Ekle</h1>
            <form method="POST" action="/DersEkle">
                <div class="form-group">
                    <label for="name">Ders Numarası</label>
                    <input type="text"
                           class="form-control"
                           id="dersId"
                           name="dersId">
                </div>
                <div class="form-group">
                    <label for="name">Ders Adı</label>
                    <input type="text"
                           class="form-control"
                           id="dersAdi"
                           name="dersAdi">
                </div>
                <input type="submit" value="Ekle" />
                <a href="/Ogrenciler"> <input value="vazgeç" /></a>
            </form>
        </table>
    </div>

    <div>
        <table >
            <tr>
                <td width="150"><a href="/Ogrenciler">Ogrenci Listesi</a></td>
                <td width="150"><a href="/OgrenciEkle">Ogrenci Ekle</a></td>
                <td width="150"><a href="/DersEkle">Ders Ekle</a></td>
                <td width="150"><a href="/Dersler">Ders Listesi</a></td>
            </tr>
        </table>
    </div>
</div>


</body>
</html>