<html>
<head>
</head>

<body>

<div>
    <div >
        <form action="/DersGoruntule" method="POST" >
            <table >
                <h1>Ders Listesi</h1>
                <tr>
                    <th>
                        <center>Seçim</center>
                    </th>
                    <th>
                        <center>Ders ID</center>
                    </th>
                    <th>
                        <center>Ders Adı</center>
                    </th>
                    <br>
                </tr>
                <tr>
                    <td width="100"><input type="radio" name="secilenDers" id="secilenDers" value="${dersler.dersId()}"></td>
                    <td width="150">${dersler.dersId()}</td>
                    <td width="150">${dersler.getDersAdi()}</td>
                </tr>
                </ul>
            </table>
            <br>
            <a href="/DersEkle"><input value="Ders Ekle"/></a></a>
            <input type="submit" value="Ders Detayi"/>
        </form>
    </div>

    <table >
        <tr>
            <td width="150"><a href="/Ogrenciler">Ogrenci Listesi</a></td>
            <td width="150"><a href="/OgrenciEkle">Ogrenci Ekle</a></td>
            <td width="150"><a href="/DersEkle">Ders Ekle</a></td>
            <td width="150"><a href="/Dersler">Ders Listesi</a></td>
        </tr>
    </table>

</div>
</body>
</html>