<html>
<head>
</head>
<body>


<div>
    <div>
        <h1>Ogrenci Sil</h1>
        <form method="POST" action="/OgrenciSil">
            <div >
                <label>Ogrenci Numarasını girin:</label>

                <input type="text"
                       class="form-control"
                       id="numara"
                       name="numara">

            </div>

            <input type="submit" value="Sil" />
        </form>

        <a href="/Ogrenciler">Vazgec</a>
    </div>

    <div>

        <table >
            <tr>
                <td width="150"><a href="/Ogrenciler">Ogrenci Listesi</a></td>
                <td width="150"><a href="/OgrenciEkle">Ogrenci Ekle</a></td>
                <td width="150"><a href="/DersEkle">Ders Ekle</a></td>
                <td width="150"><a href="/Dersler">Ders Listesi</a></td>
            </tr>
        </table>

    </div>

</div>


</body>
</html>