<html>
<head>

</head>

<body>

<div >
    <div >
        <table >
            <h1>Ogrenci Detayi</h1>
            <tr>
                <th>
                    <center>Ogrenci Numarasi</center>
                </th>
                <th>
                    <center>Ogrenci Adi</center>
                </th>
                <th>
                    <center>Ogrenci Tipi</center>
                </th>
                <th>
                    <center>Ogrenci Bolumu</center>
                </th>
                <br>

            </tr>

            <tr>

                <td >${ogrencidetay.ogrenciNumara()}</td>
                <td >${ogrencidetay.ogrenciIsim()}</td>
                <td >${ogrencidetay.ogrenciTipi()}</td>
                <td >${ogrencidetay.ogrenciBolum()}</td>
            </tr>
        </table>

        <br>

        <a href="/Ogrenciler"><input value="Geri"/></a>

    </div>

    <div>

        <table >
            <tr>
                <td width="150"><a href="/Ogrenciler">Ogrenci Listesi</a></td>
                <td width="150"><a href="/OgrenciEkle">Ogrenci Ekle</a></td>
                <td width="150"><a href="/DersEkle">Ders Ekle</a></td>
                <td width="150"><a href="/Dersler">Ders Listesi</a></td>
            </tr>
        </table>

    </div>



</div>
</body>
</html>