<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Anasayfa</title>
  </head>
  <body>
    <h1>Anasayfa!</h1>

	<#include "/medipol/menu.html" >
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm">
				<p>	
					<h2>Ogretmenler</h2>
					<!-- https://freemarker.apache.org/docs/ref_directive_list.html -->
					<#list ogretmenler as ogretmen>
						${ogretmen_index+1} - ${ogretmen}
						<br/>
					</#list>
				</p>
				
				<p>
					<h2>Ogrenciler</h2>
					<!-- https://freemarker.apache.org/docs/ref_directive_list.html -->
					<#list ogrenciler as ogrenci>
						${ogrenci_index+1} - ${ogrenci} <a href="/medipol/ogrencisil?id=${ogrenci_index}">sil</a>
						<br/>
					</#list>
					<br/>
					<h3>Ogrenci Ekle</h3>
					<form action="/medipol/ogrenciekle" method="post" >
						Ogrenci Adi: <br></br>
						<input type="text" name="isim" />
						<input type="submit" value="Ekle" />
					</form>
				</p>
			</div>
			
			<div class="col-sm">
			
				<#if kullanici_adi == "">
				
					<h1>Kullanici Girisi</h1>
					<form action="/medipol/login" method="post" >
						Kullanici Adi: <br></br>
						<input type="text" name="ad" />
						<br></br>
						Sifre: <br></br>
						<input type="password" name="sifre" />
						<br></br>
						<input type="submit" value="Giris" />
					</form>
					<br></br>
					${hata_mesaji}
					
				</#if>

			</div>
		</div>
	</div>
	
	<#include "/medipol/footer.html" >
		
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>