<!DOCTYPE html>
<html>
<body>
<center>
	<p><font face="tahoma" size="5" color="purple">
	<b>Alýþveriþ sitemize hoþgeldiniz...</b></font></p>
	<p align="right"><input type="submit" onClick="parent.location='http://localhost:4567/havva_akbas/admin'" value='Admin Paneli' ></p>
	
	
	
	
	<TABLE BORDER> 
	<TR> 
	<TH>Ürün Adý</TH><TH>Ürün Fiyatý</TH> 
	</TR> 
	<TR> 
	<TD>Çikolata</TD><TD>1.50</TD><TD><button type="button" onclick="alert('Üzgünüm buton devre dýþýdýr.')">Sepete Ekle</button></TD>
	</TR> 
	<TR> 
	<TD>Ýçecek</TD><TD>4.00</TD><TD><button type="button" onclick="alert('Üzgünüm buton devre dýþýdýr.')">Sepete Ekle</button></TD>
	</TR> 
	<TR> 
	
	</TR> 
	<TR> 
	<TD>Çikolata</TD><TD>1.50</TD><TD><button type="button" onclick="alert('Üzgünüm buton devre dýþýdýr.')">Sepete Ekle</button></TD>
	</TR> 
	<TR> 
	<TD>Ýçecek</TD><TD>4.00</TD><TD><button type="button" onclick="alert('Üzgünüm buton devre dýþýdýr.')">Sepete Ekle</button></TD>
	</TR> 
	<TR> 
	
	</TR> 
	<TR> 
	<TD>Çikolata</TD><TD>1.50</TD><TD><button type="button" onclick="alert('Üzgünüm buton devre dýþýdýr.')">Sepete Ekle</button></TD>
	</TR> 
	<TR> 
	<TD>Ýçecek</TD><TD>4.00</TD><TD><button type="button" onclick="alert('Üzgünüm buton devre dýþýdýr.')">Sepete Ekle</button></TD>
	</TR> 
	<TR> 
	
	</TR> 
	<TR> 
	<TD>Çikolata</TD><TD>1.50</TD><TD><button type="button" onclick="alert('Üzgünüm buton devre dýþýdýr.')">Sepete Ekle</button></TD>
	</TR> 
	<TR> 
	<TD>Ýçecek</TD><TD>4.00</TD><TD><button type="button" onclick="alert('Üzgünüm buton devre dýþýdýr.')">Sepete Ekle</button></TD>
	</TR> 
	</TABLE>
	
	
</center>
	

</body>
</html>
