<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/medipol/">
  	
  	<!-- https://freemarker.apache.org/docs/ref_directive_if.html -->
  	<#if kullanici_adi != "">
	  Merhaba ${kullanici_adi} <a href="/medipol/logout">cikis</a>
	<#else>
	  Giris yapiniz.
	</#if>

  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item <#if sayfa_adi == "index">active</#if>">
        <a class="nav-link" href="/medipol/">Home</a>
      </li>
      <li class="nav-item <#if sayfa_adi == "sayfa1">active</#if>">
        <a class="nav-link" href="/medipol/sayfa1">Sayfa 1</a>
      </li>
      <li class="nav-item <#if sayfa_adi == "sayfa2">active</#if>">
        <a class="nav-link" href="/medipol/sayfa2">Sayfa 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" target="_blank" href="https://github.com/ozkansari/MyCourses/">Course Page</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/medipol/">...</a>
      </li>
    </ul>
  </div>
</nav>