<html>

	<head>
		<title>Web Sayfa Ornek 3</title>
	</head>

	<body>
	
		<#include "/ozkansari/menu.html" >
		
		<h1> Web Sayfa Ornek 3 - HTML (freemarker template) </h1>
		
		<h2>Ogretmenler</h2>
		<#list ogretmenler as ogretmen>
			${ogretmen}
			<br/>
		</#list>
		
		<h2> Ogrenciler </h2>
		
		<!-- https://freemarker.apache.org/docs/ref_directive_list.html -->
		<#list ogrenciler as ogrenci>
			${ogrenci_index} ${ogrenci} <a href="/webornek/ogrencisil?name=${ogrenci}">sil</a>
			<br/>
		</#list>
		<!--
		for(String ogrenci : ogrenciler) {
			System.out.println(ogrenci);
		}
		-->

		<#assign websitesi_adi = "Ileri Java Web Sitesi Ders 9" >
		<#include "/ozkansari/footer.html" >
	</body>
</html>