<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Kitap Ekle</title>
</head>
<body>
<a href="yonetimSayfasi.html">Geri</a>
<form action="/kitapEkle" method="post">
</br>
</br>
</br>

			KitapAdi:<br> 
			<input type="text" name="kitapadi"> 
			</br> 
			&nbsp;
			YazarAdi:<br> 
			<input type="text" name="yazaradi"> 
			&nbsp;
			</br> 
			YazarSoyadi:<br> 
			<input type="text" name="yazarsoyadi">
			</br>
			&nbsp;
			</br> 
			YayinEvi:<br> 
			<input type="text" name="yayinEvi">
			</br>
			&nbsp;
			</br> 
			fiyat:<br> 
			<input type="text" name="fiyat">
			</br>
			
			<input type="submit" value="Ekle">
		</form>
		
		
</body>
</html>