<!DOCTYPE html>
<html lang="en">
<head>
  <title>Kitap Detay</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }
  </style>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="http://localhost:4567/ismail_sahin/ana_sayfa">KITAPSEPETI</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/ismail_sahin/yonetim/kitap_listele">KITAP LÝSTELE</a></li>
        <li><a href="/ismail_sahin/yonetim/kitap_ekle">KITAP EKLE</a></li>
        <li><a href="/ismail_sahin/siparis_listele">SIPARIS</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
   <h1>Siparis Onay</h1>
   
</div>

<div class="container">
  
  <#assign i = sepet?size>
  <h2>${i}</h2>
  
  <#if i gt 0>
  	<h2>Sepet</h2>
   	<p>Sepetinizdeki Ürünler</p>            
    <table class="table table-bordered">
     <thead>
       <tr>
         <th>Kitap Adý</th>
         <th>Adet</th>
       </tr>
     </thead>
     <tbody>
     	
      <#list sepet?keys as key> 
   	 		<tr>
         	<td>${siparis.getKitapAdi(key)}</td>
         	<td>${siparis.getAdet(key)}</td>
       		</tr>
	  </#list> 
       
     </tbody>
   	</table>
  		
  		<form action="/ismail_sahin/siparis_onay_post" method="post" onsubmit="return myFunction()">
  		<div class="form-group">
    		<label for="formGroupExampleInput">Adres</label>
    		<input id = "siparisAdres" type="text" class="form-control" name="siparisAdres">
   		</div>
  
   		<div class="text-right">
            <button type="button submit" style="margin-bottom: 75px;" class="btn btn-primary">Sipariþ Onayla</button>
   		</div>
   		</form>
   
  <#else>
  	<h2>Sepet</h2>
   	<p style="margin-bottom: 75px;">Sepetiniz Boþ</p>  
  </#if>
  
  <script>
  function myFunction() {
		var siparisAdres = document.getElementById("siparisAdres").value;
	
		var submitOK = "true";
		var message = "";
	
		if(siparisAdres == ""){
			message += "Adres  kýsmý boþ býrakýlamaz.\n";
			submitOK = "false";
		}
	
		if(submitOK == "false"){
			alert(message);
			return false;
		}
	}
  
  </script>
</div>


</body>
</html>

