<!DOCTYPE html>
<html lang="en">
<head>
  <title>Normal Kullanıcı Anasayfa</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }
  </style>
</head>
<body>


<div class="container">
   <h1>Normal Kullanıcı Anasayfa</h1>
           
   <table class="table table-bordered">
    <thead>
      <tr>
        <th>Kullanıcı Adı</th>
        <th>Kullanıcı Tipi</th>
		<th>Yaş</th>
		<th>Cinsiyet</th>
      </tr>
    </thead>
    <tbody>
     
      <#list Betül_Özdemir_Kullanici as k>
        <h3>Kullanıcı 1 </h3>
     
			<tr>
			<td><a href="/betül_özdemir/kullanici_detay?kullaniciAdi=${k.getkullaniciAdi()}">${k.getkullaniciAdi()}</a></td>        	<td>${k.getkullaniciTipi()}</td>
			<td>${k.yas()}</td>
			<th>${k.cinsiyet()}</th>
			
			<tr>
			<td><a href="/betül_özdemir/kullanici_detay?kullaniciAdi=${k.getkullaniciAdi()}">${k.getkullaniciAdi()}</a></td>        	<td>${k.getkullaniciTipi()}</td>
			<td>${k.yas()}</td>
			<th>${k.cinsiyet()}</th>
				       
				       
			</td>
      		</tr>
	  </#list>
      
    </tbody>
  </table>
</div>


</body>

</html>

    
   