<!DOCTYPE html>
<html lang="en">
<head>
  <title>Admin Kullanıcı Anasayfa</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }
  </style>
</head>
<body>



<div class="container">
   <h2>Kullanıcılar</h2>
   <p>Kullanıcılar Listesi</p>            
   <table class="table table-bordered">
    <thead>
      <tr>
        <th>Kullanıcı Adı</th>
        <th>İşlem</th>
      </tr>
    </thead>
    <tbody>
      
      <#list Betül_Özdemir_Kullanici as k>
			<tr>
        	
					<tr>
			<td><a href="/betül_özdemir/kullanici_detay?kullaniciAdi=${k.getId()}">${k.getkullaniciAdi()}</a></td>     
        	<td>
        	
				<form action="/betül_özdemir/kullanici_sil" method="post">
					<button type="submit" name="kullanici_id" value="${k.getId()}" class="btn btn-primary">Sil</button>
				</form>
			</td>
      		</tr>
	  </#list>
      <script>
function myFunction() {
	var kullaniciAdi = document.getElementById("kullaniciAdi").value;
		
	var submitOK = "true";
	var message = "";
		
		
	if(kullaniciAdi != "" ){
		message += "Kullanıcı başarıyla silindi.\n";
		submitOK = "false";
	}
	else{
		message += "Kullanıcı silinemedi.\n";
	submitOK = "false";
		window.location = "Betül_Özdemir_hatasayfasi.html"
	}
	
	
	if(submitOK == "false"){
		alert(message);
		return false;
	}
}

	</script>
    </tbody>
  </table>
</div>


</body>
</html>