<html>
<head>
<style type="text/css">
table, td {
	border: 1px solid;
	bordercolor: #990000;
}
</style>
</head>
<body>
	<p>
		<img
			src="https://s3.amazonaws.com/designmantic-logos/logos/2018/Jan/small-8452-5a6f3455ae204.png"
			width="61" height="84" align="left" />
	<p>
		<br> <br>
	<table style="width: 100%">

		<tr>
			<td>Ürünler</td>
			<td>Ürün Detay</td>
			<td>Ürün Fiyatý</td>
			<td>Sepetten Çýkar</td>
		</tr>
		<#list urunler as mevcutUrun>
		<tr>
			<td>${mevcutUrun.getUrunAdi()}</td>
			<td>${mevcutUrun.getUrunDetayi()}</td>
			<td>${mevcutUrun.getFiyat()}</td>
			<td><a href="/urunsil?id=${mevcutUrun.getId()}">
					<center>
						<img src="https://image.flaticon.com/icons/svg/39/39220.svg"
							width="30" height="30" />
					</center>
			</a></td>
		</tr>
		</#list>
	</table>
	<a href=siparis_bilgi> </a>
	<input type="submit" value="Devam Et" bgcolor="#990000">

</body>

</html>