<!DOCTYPE html>
<html>
<body>
	<p>
		<img
			src="https://s3.amazonaws.com/designmantic-logos/logos/2018/Jan/small-8452-5a6f3455ae204.png"
			width="61" height="84" align="left" />
	<p>
		<br> <br> <br>
		<br>
		<br>
		<br>
	<fieldset>
		<legend>Kisisel Bilgiler</legend>
		<form action="" method="post">
			Adýnýz Soyadýnýz: <br> <input type="text" name="isim"><br>
			E-mail: <br> <input type="text" name="email"><br>
			Adresiniz:<br> <input type="text" name="adress"><br>
			<input type="submit" value="Sipariþi Tamamla" bgcolor="#990000">
	</fieldset>
</body>
</html>