<!DOCTYPE html>

<html>

<head>

	<meta charset="UTF-8">

	<title>Admin Anasayfa</title>

	<style type="text/css">

         body { background-color:black; color:white; font:helvetica; }

         p { font-family: Tahoma, Verdana; font-size: 12px; }

      </style>

      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

      <meta charset="utf-8">

</head>
<div class="container">

		<h1>Yonetici Sayfasi</h1>
		
		<br/><br/>
		<#list kullanicilar as k>
			${k.getAdi()} - ${k.getCinsiyet()} - ${k.getYas()}
			<form action="/iskenderuzuner/kullaniciyi_sil" method="post">
					<button type="submit" name="id" value="${k.getId()}">Sil</button>
			</form>
			
			
			
			
			<br/>
		</#list>
	</div>
	
	</body>
</html>
