<!DOCTYPE html>

<html>

<head>

	<meta charset="UTF-8">

	<title>Giris Sayfasi</title>

	<style type="text/css">

         body { background-color:black; color:white; font:helvetica; }

         p { font-family: Tahoma, Verdana; font-size: 12px; }

      </style>

      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

      <meta charset="utf-8">

</head>

<body>

	<div class="container">
		<h1 style="color:red">Hata var !!!</h1>
	</div>

</body>

</html>


