<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .navbar {
            padding-top: 15px;
            padding-bottom: 15px;
            border: 0;
            border-radius: 0;
            margin-bottom: 0;
            font-size: 12px;
            letter-spacing: 5px;
        }
        .navbar-nav  li a:hover {
            color: #1abc9c !important;
        }
    </style>
</head>
<body>


<div class="container">
    <h2>KULLANICILAR</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Kullanici Adi</th>
            <th>Kullanici Durumu</th>
            <th>Sayfa Sayisi</th>
            <th>Cinsiyet</th>
            <th>Sil</th>
        </tr>
        </thead>
        <tbody>

        <#list kullanicilar as k>
        <tr>
            <td><a href="/kullanici_goruntule?kullaniciAdi=${k.getKullanici_adi()}">${k.getKullanici_adi()}</a></td>        	<td>${k.getKullanici_tipi()}</td>
            <td>${k.getYas()}</td>
            <th>${k.getCinsiyet()}</th>
            <td>
                <form action="/kullanici_sil" method="post">
                    <button type="submit" name="kullaniciAdi" value="${k.getKullanici_adi()}" class="btn btn-primary">Sil</button>
                </form>
            </td>
        </tr>
        </#list>

        </tbody>
    </table>
</div>


</body>
</html>