<!-- Freemarker template -->
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	    
	    <title>Ogrenci Ekle</title>
	    
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	
	
		<style>

    p {
    	background-color: #78edf9;
    	width: 400px;
    	padding: 30px;
    	border: 16px solid #333333;
    	padding: 2px;
    }
    
    .container {
	    background-color: #5a3939;
	    width: 400px;
	    padding: 3000px;
	    border: 16px solid #333333;
	    padding: 6px;
    }
    
    

    </style>
	
	</head>
	
	
	<body>
		
		<!-- Static navbar -->
	    <nav class="navbar navbar-default navbar-static-top">
	      <div class="container">
	        <div class="navbar-header">
	          <a class="navbar-brand" href="#">Erdem Deniz Arici</a>
	        </div>
	        <div id="navbar" class="navbar-collapse collapse">
	          <ul class="nav navbar-nav">
	            <li><a href="/ogrenciler">Ogrenci Listesi ve Detayları</a></li>
	            <li class="active"><a href="/ogrenciekle">Ogrenci Ekle</a></li>
				<li><a href="/ogrencisil">Ogrenci Sil</a></li>
				<li><a href="/dersler">Ders Listesi</a></li>
	            <li><a href="/dersekle">Ders Ekle</a></li>
	          </ul>
	        </div><!--/.nav-collapse -->
	      </div>
	    </nav>
	    
	    <div class="container">
	    	<div class="jumbotron">
			    <h1>Ogrenci Ekle</h1>
			    <form class="form-inline" method="POST" action="/ogrenciekle">
		            <div class="form-group">
		                <label for="name">Adi Soyadi :</label>
		                <input type="text"
		                       class="form-control"
		                       id="adSoyad"
		                       name="adSoyad">
		            </div>
					<div class="form-group">
						<label for="name">Ogrenci Tipi :</label>
						<input type="text"
							   class="form-control"
							   id="ogrenciTipi"
							   name="ogrenciTipi">
					</div>

		            <div class="form-group">
		                <label for="name">Bolum :</label>
		                <input type="text"
		                       class="form-control"
		                       id="bolum"
		                       name="bolum">
		            </div>

					<div class="form-group">
						<label for="name">Ogrenci No :</label>
						<input type="text"
							   class="form-control"
							   id="ogrenciNo"
							   name="numara">
					</div>

		            <input type="submit" class="btn btn-default" value="Ogrenci Ekle" />
		        </form>
		        
		        <a href="/ogrenciler">Vazgec</a>
	        </div>
	        
      	
	    </div>
	    
	    
	</body>
</html>