<html>
<body>
<br>
<br>
<center><a href""></a><img src="https://image.flaticon.com/icons/png/128/134/134394.png" width="50" height="50"></center>

<fieldset>
  <legend align="center"> <h1>Urun Ekle</h1> </legend>
	
	<form action="" method="post" align="center">
		Urun Adi:<br> 
		<input type="text" name="urunadi" align="center"> <br> 
		
		Fiyat:<br> 
		<input type="text" name="fiyat"  align="center"> <br>
		<br> 
		<input type="submit" value="Ekle" align="center">
	</form>
 </fieldset>


</body>
</html>