<!DOCTYPE html>
<html>
<style>
body {
    background-color: coral;
}
</style>
<body>

	<h1>Ürününüz</h1>
	<form action="/urunekle" method="post">
		ad:<br>
		<input type="text" name="ad"> <br>
		Tür:<br>
		<input type="checkbox" name="tur" value="Elektronik">elektronik<br>
		<input type="checkbox" name="tur" value="Mobilya">Mobilya<br>
		Stok:<br>
		<input type="text" name="Stok"> <br>
		Deger:<br>
		<input type="text" name="Deger"> <br>

        <input type="submit" value="Ekle">
	</form>
</body>
</html>
