<!DOCTYPE html>
<html>
<body>

	<h1>Yonetim Paneli </h1> 
	
	<input onclick="location.href='http://localhost:4567/musa_soysal/yonetim/urunekle'" type="button" name="UrunEkle" id="button2" value="Urun Ekle" /><br>
	<b></b><br>
	<b></b><br>
    <input onclick="location.href='http://localhost:4567/musa_soysal/yonetim/urunler'" type="button" name="Urun Listele" id="button3" value="Urun Listele ve Sil" /><br>
    <b></b><br>
	<b></b><br>
    <input onclick="location.href='http://localhost:4567/musa_soysal/yonetim/urunler'" type="button"  name="Urun Listele" id="button3" value="Urun Goruntule/Detay" /> 
	<p>Musa Soysal</p>

</body>
</html>
