<html>
<head>
<title>ARÝCÝ MAGAZASÝ</title>
<style type="text/css">
p {
	text-align: center;
	vertical-align: middle;
	text-decoration: underline;
}

#genel {
	margin-left: 100px;
	margin-right: 100px;
}

fieldset {
	border: 3px solid #990000;
}

legend {
	color: #990000;
	font-size: 20px;
}

#button {
	width: 170px;
	height: 30px;
	background-color: #990000;
	color: #ffffff;
	font-size: 15px;
}
</style>
</head>
<body>
	<p>
		<font size="7" color="#000000">ARICI MAGAZASI</font>
	</p>
	<br>
	<br>
	<br>
	<div id="genel">
		<form action="/mertcanarici/yonetim/urunekle_guncelle" method="post">
			<fieldset>
				<legend>URUN EKLE</legend>
				Urun Adi:<br> <input type="text" name="urunadi"> <br>
				<br> Fiyat:<br> <input type="text" name="fiyat"> <br>
				<br> <input id="button" type="submit" value="Ekle">
			</fieldset>
		</form>
		<br>
		<form action="/mertcanarici/yonetim/urunekle_guncelle" method="post">
			<fieldset>
				<legend>URUN GUNCELLE</legend>
				Urun Adi:<br> <input type="text" name="urunadi"> <br>
				<br> Fiyat:<br> <input type="text" name="fiyat"> <br>
				<br> <input id="button" type="submit" value="Guncelle">
			</fieldset>
		</form>
	</div>
</body>
</html>